.parallax-two {
    overflow: hidden;
    position: relative;
    width: 100%;
    background-image: url("images/section-3-parallax.jpg");
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #000000;
}
