#section-3{
    background-color: #DEE2E6;
}
#address::before {
    content: "";
    position: relative;
    display: inline-block;
    float: left;
    margin-left: -2em;
    width: 1.5em;
    height: 1.5em;
    left: 3px;
    top: 0;
    background: url(images/section-3-map.svg) center/contain no-repeat;
}
#phone-number1::before {
    content: "";
    position: relative;
    display: inline-block;
    float: left;
    margin-left: -2em;
    width: 1.5em;
    height: 1.5em;
    left: 3px;
    top: 0;
    background: url(images/section-3-call.svg

    ) center/contain no-repeat;
}
*, ::after, ::before {
    color : inherit;
}